header {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: verdana;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: rgb(255, 176, 73);
  text-shadow: rgb(0, 0, 0) 3px 2px 2px;
  word-wrap: break-word;
  margin: 30px;
}

@media all and (min-width: 600px) {
  header {
    font-size: 38px;
  }
}
