@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap');

header {
  display: flex;
  justify-content: center;
  font-family: verdana;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #e0e0e0;
  text-shadow: rgb(0, 0, 0) 0px 3px 2px;
  word-wrap: break-word;
  margin: 50px;
  line-height: 0.9;
}

h1 {
  transform: scale(0.7, 2);
  font-family: 'Tomorrow', sans-serif;
}

@media all and (min-width: 600px) {
  header {
    font-size: 48px;
  }
}
