@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

span {
  font-weight: 500;
}

ul {
  list-style-type: none;
  text-align: left;
  list-style: none;
  padding: 5px;
  word-wrap: break-word;
}

li {
  font-size: 22px;
  font-weight: 300;
  margin: 10px;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 100%;
}

hr {
  width: 50%;
  border: 1px solid rgb(207, 207, 207);
  margin-top: 14px;
  margin-bottom: 30px;
}

em {
  text-transform: none;
}

fieldset {
  border: 1px solid rgb(238, 238, 238);
  box-shadow: #bebebe 0px 3px 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 4px;
  margin: 10px;
  padding: 8px;
}

form {
  padding-left: 4px;
  border: 1px rgb(158, 158, 158) solid;
  box-shadow: #d8d8d8 0px 3px 2px;
  margin: 6px;
}

input {
  padding: 4px;
  border: 1px rgb(158, 158, 158) solid;
  box-shadow: #d8d8d8 0px 3px 2px;
  font-size: 16px;
  font-family: sans-serif;
}

label {
  font-size: 16px;
  font-family: sans-serif;
}

select {
  flex: 1;
  border: 1px rgb(158, 158, 158) solid;
  padding: 10px;
  margin: 12px;
  box-shadow: #d8d8d8 0px 3px 2px;
  font-size: 14px;
  font-family: sans-serif;
  background-color: white;
  margin: 6px;
}

form > button {
  margin: 12px;
  font-size: 14px;
  padding: 4px;
}

strong,
.page {
  font-size: 28px;
  font-weight: 500;
  color: rgb(24, 24, 24);
  text-shadow: rgb(214, 214, 214) 0px 2px 1px;
}

.nextButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  width: 75px;
  margin-bottom: 14px;
}

.nextButton:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.nextButton:active {
  position: relative;
  top: 1px;
}

.button-wrapper {
  margin: auto;
}

.page-buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.page {
  margin: 20px;
  padding-bottom: 10px;
  font-family: 'IM Fell English', Arial, Helvetica, sans-serif;
  font-size: 19px;
}

legend {
  display: none;
}

.search-bar {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.extra-info {
  color: rgb(114, 114, 114);
  font-weight: 300;
  font-size: smaller;
}

@media all and (min-width: 600px) {
  ul {
    margin: auto;
    width: 600px;
  }

  form {
    width: 510px;
    flex: 1;
    display: inline-block;
  }

  .search-bar {
    justify-content: space-around;
  }
}
